.theme-default
  // colors
  $main-color: #f15723
  $second-color: #795548
  $nav-default: #222828
  $nav-second: #454545

  .nav
    background: $nav-second

  .heading__fold
    color: $main-color
    a
      color: $main-color

  .heading__plus
    color: $main-color

  .heading__fold
    background: $nav-second

  .list__item
    &:hover
      background: lighten($main-color,5%)

    &.active
      background: $second-color
      a
        color: #fff
      &:before
        background: lighten($main-color,5%)
      &:after
        background: lighten($main-color,5%)

    &.online a
      &::before
        background: #0a0

  .group_channels
    padding: 1em 0
    background: $nav-default

  .msg__loading
    color: $main-color

  .more
    color: $main-color

  .msg__users-wrap
    background: $nav-second

  .msg__text
    background: darken($nav-second,5%)

  .channel-info__decs
    background: $nav-default

  .btn
    background-color: darken($main-color, 10%)
    border-bottom: 4px solid darken($main-color, 20%)
    &:hover
      opacity: .6
    &:active
      background: darken($main-color, 20%)
      border: none
      margin-top: 4px
      outline: none

  .form__radio:checked + label.btn
    background-color: darken($main-color, 20%)
    border: none
    margin-top: 4px
    outline: none

  .auth__btn
    border-bottom: 4px solid darken($main-color, 20%)
    background-color: darken($main-color, 10%)
    &:active
      background: darken($main-color, 20%)
      border: none
      top: 4px
      margin-bottom: 14px
      outline: none

  .msg__searched
    background-color: rgba(255,255,255,.1)


.emoji
  background-color: transparent
