.channel-info
  padding: 20px 0

.channel-info__heading
  font-family: 'Open Sans', sans-serif
  font-size: 1.2em
  margin: 5px 0
  padding: 0 15px

.channel-info__decs
  font-size: 14px
  font-family: 'Open Sans', sans-serif
  padding: 5px 15px
  margin: 10px 0
  color: gray

.list_channelUsers
  padding: 0 15px !important
