.list
  padding: 0
  margin: 10px 0 4px
  list-style: none

$list-item-height: 70px

.show_all_checkbox
  display: none

  &:checked
    + ul
      max-height: none

    ~ .show_all_label > span
      font-size: 0

      &::before
        content: 'СSкрыть'
        font-size: 14px

.list
  max-height: $list-item-height * 4 // умножаем на количество отображаемых элементов
  overflow: hidden

.list__item
  position: relative
  display: flex
  align-items: center
  font-size: 15px
  height: 70px
  overflow: hidden
  cursor: pointer
  transition: .2s ease-in-out 0s

  a, span
    display: block
    padding: 0 30px 0 15px
    width: 100%
    position: relative

  &.active
    &:before
      content: ''
      display: block
      position: absolute
      top: 0
      right: 0
      height: 100%
      width: 4px
    &:after
      content: ''
      display: block
      position: absolute
      top: 25px
      right: -12px
      width: 20px
      height: 20px
      transform: rotate(45deg)

  &.unread
    a
      &::before
        display: block

.list_channelUsers
  max-height: $list-item-height * 6 // умножаем на количество отображаемых элементов

  .list__item
    display: block

    span
      padding: 0 10px

.list__description
  white-space: nowrap
  font-style: italic
  font-size: .8em
  font-weight: 300
  line-height: 30px
  color: lightgray

.list__name
  font-family: 'Open Sans'
  font-weight: 300

.list__left, .list__right
  float: left

.list__left
  width: 72px

.channel__image
  width: 60px
  height: 60px
  img
    border-radius: 5px
    width: 100%
    height: 100%

.user__image
  width: 60px
  height: 60px
  img
    border-radius: 50%
    width: 100%
    height: 100%

.group_users
  padding: 1em 0
  .list__item
    cursor: default
    opacity: .5
    &.online
      opacity: 1
    &:hover
      background: inherit

.channel-info__heading
  font-family: 'Open Sans'
  font-size: 1.2em
  font-weight: 300
  color: gray


.list_channelUsers
  .list__item
    height: 25px
    cursor: default
    opacity: .5
    span
      padding: 0
    &.online
      opacity: 1
    &:hover
      background: inherit

#showAllUsers:checked~.more>span:before
  position: relative
  top: 5px
  content: '\f0de'

