.more
  user-select: none
  display: block
  cursor: pointer
  text-align: center
  font-size: 1.2em
  transition: .2s ease-in-out
  &:hover
    opacity: .6

#showAllChannels:checked~.more>span:before
  position: relative
  top: 5px
  content: '\f0de'
