.send
  position: absolute
  width: calc(100% - 235px)
  left: 20px
  bottom: 1em
  color: #ccc
  font-family: 'Open Sans'
  font-weight: 300
  textarea
    background: #303030
    border-radius: 15px
    border: none

.send__text
  display: inline-block
  width: 100%
  padding: 5px 20px
  box-sizing: border-box
  border: 0
  border-top: 2px solid #E0E0E0
  border-bottom: 2px solid #E0E0E0
  resize: none
  font-size: 18px
  min-height: 36px
